<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>gamePage</title>
  <link rel="shortcut icon" href="/public/img/life.jpg">
  
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/normal.css">
  <link rel="stylesheet" href="/public/css/gamePage.css">
</head>
<body>
  <header>
    <div class="left"></div>
    <h1>{{ user.username }}</h1>
    <div class="right">当前游戏人数 : <span>0</span></div>
  </header>
  <div id="show">
    <canvas id="canvas">
      换Chrome吧
    </canvas>
  </div>
  

  <script src="/public/js/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/modules/vector2D.js"></script>
  <script src="/public/js/modules/ball.js"></script>
  <script src="/public/js/gamePage.js"></script>
</body>
</html>