<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="shortcut icon" href="/public/img/life.jpg">

  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/normal.css">
  <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
  <div id="app">
    <h2>{{ user.username }}</h2>

    <div class="totalUser">当前大厅用户：<span>0</span></div>
    <div class="activeUser">当前游戏用户：<span>0</span></div>

    <div class="buttons">
      <button class="join">加入游戏</button>
      <button class="leave">登出</button>
    </div>
  </div>

  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/common.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/index.js"></script>
</body>
</html>