<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="shortcut icon" href="/public/img/life.jpg">
  
  <link rel="stylesheet" href="/public/css/common.css">
  <link rel="stylesheet" href="/public/css/normal.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
  <form id="login" autocomplete="off">
    <h2>LOGIN</h2>

    <label>用户名：<input type="text" class="username" placeholder="username" required></label>
    <label>密　码：<input type="password" class="password" placeholder="password" required></label>
    <button class="loginBtn">登录</button>

    <a href="/register" class="register">注  册</a>
  </form>

  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/login.js"></script>
</body>
</html>