html, body {
  background: #bedcaf;
}

#app {
  width: 600px;
  height: 400px;
  background: #4a5a6a;
  margin: 70px auto;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 40px;
}

.totalUser, .activeUser {
  color: #33CB74;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
}
.totalUser span, .activeUser span {
  margin-left: 30px;
}

.buttons {
  margin-top: 60px;
  width: 100%;
  display: flex;
}

.join {
  margin-right: 20px;
}
.buttons button {
  flex: 1;
  height: 36px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background: whitesmoke;
}
.buttons button:hover {
  background: #a7c9eb;
}
